@model SuUserRelationTypeLanguageDeleteGetModel
@{
    ViewBag.Title = @ViewBag.Terms[0];
}@{
    Layout = "_LayoutAdmin";
}

<h1><img src="~/Images/Icons/languages.jpg" title="@ViewBag.Terms[0]" height="60" width="60" /> @ViewBag.Terms[0]</h1>
<form class="mt-3" method="post">

    <div class="form-group row">
        <label asp-for="@Model.Language" class="col-sm-2 col-form-label">@ViewBag.Terms[7]</label>
        <div class="col-sm-10">
            <input asp-for="@Model.Language" disabled class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="@Model.LId" class="col-sm-2 col-form-label">@ViewBag.Terms[1]</label>
        <div class="col-sm-10">
            <input asp-for="@Model.LId" disabled class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="@Model.FromIsOfToName" class="col-sm-2 col-form-label">@ViewBag.Terms[2]</label>
        <div class="col-sm-10">
            <input asp-for="@Model.FromIsOfToName" disabled class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="@Model.ToIsOfFromName" class="col-sm-2 col-form-label">@ViewBag.Terms[2]</label>
        <div class="col-sm-10">
            <input asp-for="@Model.ToIsOfFromName" disabled class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="@Model.FromIsOfToDescription" class="col-sm-2 col-form-label">@ViewBag.Terms[2]</label>
        <div class="col-sm-10">
            <input asp-for="@Model.FromIsOfToDescription" disabled class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="@Model.ToIsOfFromDescription" class="col-sm-2 col-form-label">@ViewBag.Terms[2]</label>
        <div class="col-sm-10">
            <input asp-for="@Model.ToIsOfFromDescription" disabled class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="@Model.FromIsOfToMouseOver" class="col-sm-2 col-form-label">@ViewBag.Terms[2]</label>
        <div class="col-sm-10">
            <input asp-for="@Model.FromIsOfToMouseOver" disabled class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="@Model.ToIsOfFromMouseOver" class="col-sm-2 col-form-label">@ViewBag.Terms[2]</label>
        <div class="col-sm-10">
            <input asp-for="@Model.ToIsOfFromMouseOver" disabled class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="@Model.FromIsOfToMenuName" class="col-sm-2 col-form-label">@ViewBag.Terms[2]</label>
        <div class="col-sm-10">
            <input asp-for="@Model.FromIsOfToMenuName" disabled class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="@Model.ToIsOfFromMenuName" class="col-sm-2 col-form-label">@ViewBag.Terms[2]</label>
        <div class="col-sm-10">
            <input asp-for="@Model.ToIsOfFromMenuName" disabled class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="@Model.Creator" class="col-sm-2 col-form-label">ViewBag.Terms[9]</label>
        <div class="col-sm-10">
            <input asp-for="@Model.Creator" disabled class="form-control" />
            <span asp-validation-for="@Model.Creator" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="@Model.CreatedDate" class="col-sm-2 col-form-label">ViewBag.Terms[10]</label>
        <div class="col-sm-10">
            <input asp-for="@Model.CreatedDate" disabled class="form-control" />
            <span asp-validation-for="@Model.CreatedDate" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="@Model.Modifier" class="col-sm-2 col-form-label">ViewBag.Terms[11]</label>
        <div class="col-sm-10">
            <input asp-for="@Model.Modifier" disabled class="form-control" />
            <span asp-validation-for="@Model.Modifier" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="@Model.ModifiedDate" class="col-sm-2 col-form-label">ViewBag.Terms[12]</label>
        <div class="col-sm-10">
            <input asp-for="@Model.ModifiedDate" disabled class="form-control" />
            <span asp-validation-for="@Model.ModifiedDate" class="text-danger"></span>
        </div>
    </div>
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group row">
        <div class="col-sm-10">
            <button type="submit" class="btn btn-primary btn-dark">@ViewBag.Terms[5]</button>
            <a asp-action="LanguageIndex" asp-controller="UserProjectType" class="btn btn-primary btn-light">@ViewBag.Terms[6]</a>
        </div>
    </div>
</form>

