@model SuObjectAndStatusViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    ViewBag.Title = @ViewBag.Terms[0];
}
    <h1><img src="~/Images/Icons/levels.png" title="@ViewBag.Terms[0]" height="60" width="60" /> @ViewBag.Terms[0]</h1>
    <form class="mt-3" method="post">

        <div class="form-group row">
            <label asp-for="@Model.SuObject.Id" class="col-sm-2 col-form-label">@ViewBag.Terms[1]</label>
            <div class="col-sm-10">
                <input asp-for="@Model.SuObject.Id" class="form-control" />
                <span asp-validation-for="@Model.SuObject.Id" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row" hidden>
            <label asp-for="@Model.SuObject.ObjectLanguageId" hidden class="col-sm-2 col-form-label">@ViewBag.Terms[1]</label>
            <div class="col-sm-10">
                <input asp-for="@Model.SuObject.ObjectLanguageId" hidden class="form-control" />
                <span asp-validation-for="@Model.SuObject.ObjectLanguageId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="@Model.SuObject.Name" class="col-sm-2 col-form-label">@ViewBag.Terms[2]</label>
            <div class="col-sm-10">
                <input asp-for="@Model.SuObject.Name" class="form-control" />
                <span asp-validation-for="@Model.SuObject.Name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="@Model.SuObject.MenuName" class="col-sm-2 col-form-label">@ViewBag.Terms[3]</label>
            <div class="col-sm-10">
                <input asp-for="@Model.SuObject.MenuName" class="form-control" />
                <span asp-validation-for="@Model.SuObject.MenuName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="@Model.SuObject.Description" class="col-sm-2 col-form-label">@ViewBag.Terms[4]</label>
            <div class="col-sm-10">
                <textarea asp-for="@Model.SuObject.Description" class="form-control ckeditor" id="description" name="SuObject.Description"></textarea>
                <span asp-validation-for="@Model.SuObject.Description" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="@Model.SuObject.MouseOver" class="col-sm-2 col-form-label">@ViewBag.Terms[5]</label>
            <div class="col-sm-10">
                <input asp-for="@Model.SuObject.MouseOver" class="form-control" />
                <span asp-validation-for="@Model.SuObject.MouseOver" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="@Model.SuObject.DateLevel" class="col-sm-2 col-form-label">@ViewBag.Terms[6]</label>
            <div class="col-sm-10">
                @Html.DropDownListFor(x => x.SuObject.DateLevel, Model.ProbablyTypeListItem)
                <span asp-validation-for="@Model.SuObject.DateLevel" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="@Model.SuObject.OnTheFly" class="col-sm-2 col-form-label">@ViewBag.Terms[7]</label>
            <div class="col-sm-10">
                <input asp-for="@Model.SuObject.OnTheFly" class="form-check" />
                <span asp-validation-for="@Model.SuObject.OnTheFly" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="@Model.SuObject.Alphabetically" class="col-sm-2 col-form-label">@ViewBag.Terms[8]</label>
            <div class="col-sm-10">
                <input asp-for="@Model.SuObject.Alphabetically" class="form-check" />
                <span asp-validation-for="@Model.SuObject.Alphabetically" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="@Model.SuObject.CanLink" class="col-sm-2 col-form-label">@ViewBag.Terms[9]</label>
            <div class="col-sm-10">
                <input asp-for="@Model.SuObject.CanLink" class="form-check" />
                <span asp-validation-for="@Model.SuObject.CanLink" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="@Model.SuObject.InDropDown" class="col-sm-2 col-form-label">@ViewBag.Terms[10]</label>
            <div class="col-sm-10">
                <input asp-for="@Model.SuObject.InDropDown" class="form-check" />
                <span asp-validation-for="@Model.SuObject.InDropDown" class="text-danger"></span>
            </div>
        </div>
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group row">
            <div class="col-sm-10">
                <button type="submit" class="btn btn-primary btn-dark">@ViewBag.Terms[11]</button>
                <a asp-action="Index" asp-controller="ClassificationLevel" class="btn btn-primary btn-light">@ViewBag.Terms[12]</a>
            </div>
        </div>
    </form>


<script>
            $(document).ready(function () {
                if (CKEDITOR.instances['description']) {
                    CKEDITOR.instances['description'].destroy();
                }
                CKEDITOR.replace('description', {
                    fullPage: false, uiColor: '#efe8ce'
                });
                $('#getVal').on('click', function (e) {
                    let ckValue = CKEDITOR.instances['description'].getData()
                    console.log(ckValue);
                });
            });
</script>