@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}@{
    ViewBag.Title = "Page section languages";
}
@model List<SuObjectVM>

    <h1 class="font-weight-bold"><img src="~/Images/Icons/languages.jpg" title="Languages" height="60" width="60" /> Page section languages</h1>
<table class="table table-bordered table-sm table-hover">

    <thead class="thead-dark">
        <tr><th>@ViewBag.Terms[0]</th><th>@ViewBag.Terms[1]</th><th>@ViewBag.Terms[2]</th><th>@ViewBag.Terms[3]</th><th>@ViewBag.Terms[4]</th><th></th><th></th><th></th></tr>
    </thead>
    @foreach (var x in Model)

    {
<tr>
    <td style="width: 44px">@x.Id</td>
    <td>@x.Language</td>
    <td>@x.Name</td>
    <td>@x.MenuName</td>
    <td>@x.MouseOver</td>
    <td>@x.ObjectId</td>
    @*PETER TODO Hide the object ID somehow would be nice*@

    <td style="width: 22px"><a asp-controller="PageSection" asp-action="LanguageEdit" asp-route-Id="@x.Id.ToString()"><img src="~/Images/Icons/open.png" title="@ViewBag.Terms[5]" height="20" width="20" /></a></td>
    <td style="width: 22px"><a asp-controller="PageSection" asp-action="LanguageDelete" asp-route-Id="@x.Id.ToString()"><img src="~/Images/Icons/delete.png" title="@ViewBag.Terms[6]" height="20" width="20" /></a></td>
</tr>
    }
</table>
<a asp-controller="PageSection" asp-action="LanguageCreate" asp-route-id=@ViewBag.Id asp-route-CId="@ViewBag.CId"><img src="~/Images/Icons/languages.jpg" title="Create language" height="20" width="20" /> @ViewBag.Terms[7]</a>
<a asp-controller="PageSection" asp-action="Index"><img src="~/Images/Icons/Section.png" title="Classification levels" height="20" width="20" /> @ViewBag.Terms[8]</a>