@model SuPreferenceLeftMenuGetBothMenusModel
@{
}
<h1><img src="~/Images/Icons/pages.jpg" title="" height="60" width="60" /> Left menu</h1>
<div class="table-responsive">
    <table class="table table-bordered table-sm table-hover">

        <thead class="thead-dark">
            <tr><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th></tr>
        </thead>
        @foreach (var x in Model.CurrentMenus)

        {
    <tr>
        <td style="width: 44px">@x.Id</td>
        <td>@x.Name</td>

        <td style="width: 22px"><a asp-controller="Page" asp-action="Edit" asp-route-Id="@x.Id.ToString()"><img src="~/Images/Icons/down.png" title="" height="20" width="20" /></a></td>
        <td style="width: 22px"><a asp-controller="PageSection" asp-action="Index" asp-route-id="@x.Id"><img src="~/Images/Icons/up.png" title="" height="20" width="20" /></a></td>
        <td style="width: 22px"><a asp-controller="Page" asp-action="LanguageIndex" asp-route-id="@x.Id.ToString()"><img src="~/Images/Icons/open.png" title="" height="20" width="20" /></a></td>
        <td style="width: 22px"><a asp-controller="Page" asp-action="LanguageIndex" asp-route-id="@x.Id.ToString()"><img src="~/Images/Icons/delete.png" title="" height="20" width="20" /></a></td>
    </tr>
        }
    </table>
</div>
<a asp-controller="Page" asp-action="Create"><img src="~/Images/Icons/pages.jpg" title="Pages" height="20" width="20" /> Create new Page</a>
