@model StudentUnion0105.ViewModels.SuObjectVM
@{
    ViewBag.Title = "Create Process template group";
}@{
    Layout = "_LayoutAdmin";
}

<h1><img src="~/Images/Icons/ProcessTemplateGroup.png" height="60" width="60" /> Create Process template group</h1>
<form class="mt-3" method="post">

    <div class="form-group row">
        <label asp-for="@Model.Name" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="@Model.Name" class="form-control" />
            <span asp-validation-for="@Model.Name" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="@Model.Description" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <textarea asp-for="@Model.Description" class="form-control ckeditor" id="description" name="description"></textarea>
            <span asp-validation-for="@Model.Description" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="@Model.MouseOver" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="@Model.MouseOver" class="form-control" />
            <span asp-validation-for="@Model.MouseOver" class="text-danger"></span>
        </div>
    </div>
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group row">
        <div class="col-sm-10">
            <button type="submit" class="btn btn-primary btn-dark">Add</button>
            <a asp-action="Index" asp-controller="ProcessTemplateGroup" class="btn btn-primary btn-light">Cancel</a>
        </div>
    </div>
</form>
<script>
    $(document).ready(function () {
        if (CKEDITOR.instances['Description']) {
            CKEDITOR.instances['Description'].destroy();
        }
        CKEDITOR.replace('Description', {
            fullPage: true, uiColor: '#efe8ce'
        });
        $('#getVal').on('click', function (e) {
            let ckValue = CKEDITOR.instances['Description'].getData()
            console.log(ckValue);
        });
    });
</script>
