@model List<SuObjectIndexGetModel>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}@{
    ViewBag.Title = @ViewBag.Terms[0];
}
@{
    Layout = "_LayoutAdmin";
}
<h1 class="font-weight-bold">
    <img src="~/Images/Icons/OrganizationType.png" title="@ViewBag.Terms[0]" height="60" width="60" /> @ViewBag.Terms[0]
</h1>
<div class="table-responsive">
    <table class="table table-bordered table-sm table-hover">

        <thead class="thead-dark">
            <tr><th>@ViewBag.Terms[2]</th><th>@ViewBag.Terms[3]</th><th></th><th></th><th></th></tr>
        </thead>
        @foreach (var x in Model)

        {
            <tr>
                <td style="width: 44px">@x.Id</td>
                <td>@x.Name</td>
                <td style="width: 22px"><a asp-controller="OrganizationType" asp-action="Edit" asp-route-Id="@x.Id.ToString()"><img src="~/Images/Icons/open.png" title="@ViewBag.Terms[3]" height="20" width="20" /></a></td>
                <td style="width: 22px"><a asp-controller="OrganizationType" asp-action="LanguageIndex" asp-route-id="@x.Id.ToString()"><img src="~/Images/Icons/languages.jpg" title="@ViewBag.Terms[4]" height="20" width="20" /></a></td>
                <td style="width: 22px"><a asp-controller="OrganizationType" asp-action="Delete" asp-route-id="@x.Id.ToString()"><img src="~/Images/Icons/delete.png" title="@ViewBag.Terms[5]" height="20" width="20" /></a></td>
            </tr>
        }
    </table>
</div>
<a asp-controller="OrganizationType" asp-action="Create"><img src="~/Images/Icons/OrganizationType.png" title="@ViewBag.Terms[6]" height="20" width="20" /> @ViewBag.Terms[6]</a>
