@model SuOrganizationEditGetWithListModel
@{
    ViewBag.Title = "Edit organization";
}@{
    Layout = "_LayoutAdmin";
}

<h1><img src="~/Images/Icons/Organization.png" height="60" width="60" /> Edit organization</h1>
<form class="mt-3" method="post">

    <div class="form-group row">
        <label asp-for="@Model.Organization.OId" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="@Model.Organization.OId" class="form-control" />
            <span asp-validation-for="@Model.Organization.OId" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="@Model.Organization.ParentOrganization" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="@Model.Organization.ParentOrganization" class="form-control" />
            <span asp-validation-for="@Model.Organization.ParentOrganization" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="@Model.Organization.Name" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="@Model.Organization.Name" class="form-control" />
            <span asp-validation-for="@Model.Organization.Name" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="@Model.Organization.Description" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <textarea asp-for="@Model.Organization.Description" class="form-control ckeditor" id="description" name="description"></textarea>
            <span asp-validation-for="@Model.Organization.Description" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="@Model.Organization.MenuName" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="@Model.Organization.MenuName" class="form-control" />
            <span asp-validation-for="@Model.Organization.MenuName" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="@Model.Organization.MouseOver" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="@Model.Organization.MouseOver" class="form-control" />
            <span asp-validation-for="@Model.Organization.MouseOver" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="@Model.Organization.OrganizationStatusId" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10 ">

            @*@Html.DropDownListFor(x => x.Classification.Status, new SelectList(Model.a, "Value", "Text"))*@
            @Html.DropDownListFor(x => x.Organization.OrganizationStatusId, Model.StatusList)
            <span asp-validation-for="@Model.Organization.OrganizationStatusId" class="text-danger"></span>

        </div>
    </div>
    <div class="form-group row">
        <label asp-for="@Model.Organization.OrganizationTypeId" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10 ">

            @*@Html.DropDownListFor(x => x.Classification.Status, new SelectList(Model.a, "Value", "Text"))*@
            @Html.DropDownListFor(x => x.Organization.OrganizationTypeId, Model.TypeList)
            <span asp-validation-for="@Model.Organization.OrganizationTypeId" class="text-danger"></span>

        </div>
    </div>
    <div class="form-group row">
        <label asp-for="@Model.Organization.LanguageId" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="@Model.Organization.LanguageId" class="form-control" />
            <span asp-validation-for="@Model.Organization.LanguageId" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="@Model.Organization.LId" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="@Model.Organization.LId" class="form-control" />
            <span asp-validation-for="@Model.Organization.LId" class="text-danger"></span>
        </div>
    </div>
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group row">
        <div class="col-sm-10">
            <button type="submit" class="btn btn-primary btn-dark">Update</button>
            <a asp-action="Index" asp-controller="Organization" class="btn btn-primary btn-light">Cancel</a>
        </div>
    </div>
</form>

<script>
    $(document).ready(function () {
        if (CKEDITOR.instances['description']) {
            CKEDITOR.instances['description'].destroy();
        }
        CKEDITOR.replace('description', {
            fullPage: false, uiColor: '#efe8ce'
        });
        $('#getVal').on('click', function (e) {
            let ckValue = CKEDITOR.instances['description'].getData()
            console.log(ckValue);
        });
    });
</script>