@model SuFrontPageViewGetWithValuesModel
@{
    ViewBag.Title = ViewBag.Terms[0];
}
<h1><img src="~/Images/Icons/Classifications.png" height="60" width="60" /> @Model.Content.Title</h1>
    @if (Model.Content.IsCurrentUser == 1)
    {
<a class="nav-link text-dark font-weight-bold" asp-area="" asp-controller="Content" asp-action="Edit" asp-route-Id="@Model.Content.Id">Edit</a>
    }
<div class="font-weight-bold">@Html.Raw(Model.Content.Description)</div>
<hr class="" />
<div class="row">
    <div class="font-weight-bold">@ViewBag.Terms[1] :&nbsp</div><div>@Model.Content.Creator</div>
</div>
<div class="row">
    <div class="font-weight-bold">@ViewBag.Terms[2] :&nbsp</div><div>@Model.Content.Modifier</div>
</div>
<div class="row">
    <div class="font-weight-bold">@ViewBag.Terms[3] :&nbsp</div><div>@Model.Content.CreatedDate</div>
</div>
<div class="row">
    <div class="font-weight-bold">@ViewBag.Terms[4] :&nbsp</div><div>@Model.Content.ModifiedDate</div>
</div>
<div class="row">
    <div class="font-weight-bold">@ViewBag.Terms[5] :&nbsp</div><div>@Model.Content.StatusName</div>
</div>
<div class="row">
    <div class="font-weight-bold">@ViewBag.Terms[6] :&nbsp</div><div>@Model.Content.TypeName</div>
</div>
<div class="row">
    <div class="font-weight-bold">@ViewBag.Terms[7] :&nbsp</div><div>@Model.Content.OrganizationName</div>
</div>
@foreach (var item in Model.Values)
{
    <div class="row">
        <div class="font-weight-bold">@item.ClassificationName :&nbsp</div><div>@item.ValueName</div>
    </div>
}



