@model SuContentTypeEditGetWithListModel
@{
    ViewBag.Title = @ViewBag.Terms[0];
}
@{
    Layout = "_LayoutAdmin";
}
<h1><img src="~/Images/Icons/ContentType.png" height="60" title="@ViewBag.Terms[0]" width="60" /> @ViewBag.Terms[0]</h1>
<form class="mt-3" method="post">

    <div class="form-group row">
        <label asp-for="@Model.ContentType.Id" class="col-sm-2 col-form-label">@ViewBag.Terms[1]</label>
        <div class="col-sm-10">
            <input asp-for="@Model.ContentType.Id" class="form-control" />
        </div>
    </div>
    <div class="form-group row" hidden>
        <label asp-for="@Model.ContentType.Lid" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="@Model.ContentType.Lid" class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="@Model.ContentType.Name" class="col-sm-2 col-form-label">@ViewBag.Terms[2]</label>
        <div class="col-sm-10">
            <input asp-for="@Model.ContentType.Name" class="form-control" />
            <span asp-validation-for="@Model.ContentType.Name" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="@Model.ContentType.Description" class="col-sm-2 col-form-label">@ViewBag.Terms[3]</label>
        <div class="col-sm-10">
            <textarea asp-for="@Model.ContentType.Description" class="form-control ckeditor" id="description" name="description"></textarea>
            <span asp-validation-for="@Model.ContentType.Description" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="@Model.ContentType.MouseOver" class="col-sm-2 col-form-label">@ViewBag.Terms[4]</label>
        <div class="col-sm-10">
            <input asp-for="@Model.ContentType.MouseOver" class="form-control" />
            <span asp-validation-for="@Model.ContentType.MouseOver" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="@Model.ContentType.MenuName" class="col-sm-2 col-form-label">@ViewBag.Terms[7]</label>
        <div class="col-sm-10">
            <input asp-for="@Model.ContentType.MenuName" class="form-control" />
            <span asp-validation-for="@Model.ContentType.MenuName" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="@Model.ContentType.TitleName" class="col-sm-2 col-form-label">@ViewBag.Terms[8]</label>
        <div class="col-sm-10">
            <input asp-for="@Model.ContentType.TitleName" class="form-control" />
            <span asp-validation-for="@Model.ContentType.TitleName" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="@Model.ContentType.TitleDescription" class="col-sm-2 col-form-label">@ViewBag.Terms[9]</label>
        <div class="col-sm-10">
            <input asp-for="@Model.ContentType.TitleDescription" class="form-control" />
            <span asp-validation-for="@Model.ContentType.TitleDescription" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="@Model.ContentType.SecurityLevel" class="col-sm-2 col-form-label">@ViewBag.Terms[10]</label>
        <div class="col-sm-10 ">

            @Html.DropDownListFor(x => x.ContentType.SecurityLevel, Model.SecurityLevelList)
            <span asp-validation-for="@Model.ContentType.SecurityLevel" class="text-danger"></span>

        </div>
    </div>
    <div class="form-group row">
        <label asp-for="@Model.ContentType.ProcessTemplateId" class="col-sm-2 col-form-label">@ViewBag.Terms[11]</label>
        <div class="col-sm-10 ">

            @Html.DropDownListFor(x => x.ContentType.ProcessTemplateId, Model.ProcessTemplateList)
            <span asp-validation-for="@Model.ContentType.ProcessTemplateId" class="text-danger"></span>

        </div>
    </div>

    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group row">
        <div class="col-sm-10">
            <button type="submit" class="btn btn-primary btn-dark">@ViewBag.Terms[5]</button>
            <a asp-action="Index" asp-controller="ContentType" class="btn btn-primary btn-light">@ViewBag.Terms[6]</a>
        </div>
    </div>
</form>
<script>
    $(document).ready(function () {
        if (CKEDITOR.instances['description']) {
            CKEDITOR.instances['description'].destroy();
        }
        CKEDITOR.replace('description', {
            fullPage: false, uiColor: '#efe8ce'
        });
        $('#getVal').on('click', function (e) {
            let ckValue = CKEDITOR.instances['description'].getData()
            console.log(ckValue);
        });
    });
</script>
