@model SuObjectAndStatusViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    ViewBag.Title = "Create language";
}
<h1><img src="~/Images/Icons/languages.jpg" title="Languages" height="60" width="60" /> Edit language</h1>
<form class="mt-3" method="post">
    <div class="form-group row">
        <label asp-for="@Model.SuObject.ObjectId" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="@Model.SuObject.ObjectId" class="form-control"  />
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="@Model.SuObject.Name" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="@Model.SuObject.Name" class="form-control" />
            <span asp-validation-for="@Model.SuObject.Name" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="@Model.SuObject.LanguageId" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10 ">

            @*@Html.DropDownListFor(x => x.Page.Status, new SelectList(Model.a, "Value", "Text"))*@
            @Html.DropDownListFor(x => x.SuObject.LanguageId, Model.SomeKindINumSelectListItem)
            <span asp-validation-for="@Model.SuObject.LanguageId" class="text-danger"></span>

        </div>
    </div>
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group row">
        <div class="col-sm-10">
            <button type="submit" class="btn btn-primary btn-dark">Create</button>
            <a asp-action="LanguageIndex" asp-controller="Page" class="btn btn-primary btn-light">Cancel</a>
        </div>
    </div>
</form>

<script>
            $(document).ready(function () {
                if (CKEDITOR.instances['description']) {
                    CKEDITOR.instances['description'].destroy();
                }
                CKEDITOR.replace('description', {
                    fullPage: false, uiColor: '#efe8ce'
                });
                $('#getVal').on('click', function (e) {
                    let ckValue = CKEDITOR.instances['description'].getData()
                    console.log(ckValue);
                });
            });
        $(document).ready(function () {
        if (CKEDITOR.instances['pagedescription']) {
            CKEDITOR.instances['pagedescription'].destroy();
        }
        CKEDITOR.replace('pagedescription', {
            fullPage: false, uiColor: '#efe8ce'
        });
        $('#getVal').on('click', function (e) {
            let ckValue = CKEDITOR.instances['pagedescription'].getData()
            console.log(ckValue);
        });
    });

</script>